.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px;
  height: 15vh;

  @media screen and (min-width: 426px) {
    height: 20vh;
  }

  .our_logo {
    display: flex;
    align-items: center;
    width: 8vw;
  }

  .nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        font-size: 1.5rem;
        list-style: none;
        color: var(--white-color);

        a, button {
          color: inherit;
          background: none;
          border: none;
          cursor: pointer;

          &:hover {
            border: .2rem solid var(--white-color); 
            padding: .8rem;
            background-color: var(--primary-color);
          }
        }

        &.logout {
          background-color: var(--secondary-compliment); 

          &:hover {
            background-color: var(--primary-compliment); 
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
  //some properties for DESKTOP
}